// Buttons
$all-button-inputs: ".button";
// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$button-border-radius: 20px;
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$error: #FC333F;
// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Colors
$blue1: #032436;
$blue2: #113a51;
$blue3: #28546c;
$blue4: #477086;
$blue5: #6e90a1;

$purple1: #080d3a;
$purple2: #191f58;
$purple3: #323875;
$purple4: #535992;
$purple5: #7d82b0;

$green1: #003c1c;
$green2: #0f5a32;
$green3: #28784d;
$green4: #4b966d;
$green5: #78b494;
